@use 'src/styles/foundation/functions/get-rem' as *;
// @use 'src/styles/foundation/mixins/media-query' as *;
// @use 'src/styles/foundation/mixins/hover' as *;
// @use 'src/styles/foundation/mixins/arrow' as *;
// @use 'src/styles/foundation/mixins/clearfix' as *;
// @use 'src/styles/foundation/mixins/leading-trim' as *;
// @use 'src/styles/foundation/mixins/triangle' as *;
// @use 'src/styles/foundation/mixins/underLine' as *;
// @use 'src/styles/foundation/mixins/visibility-hidden' as *;

/* ========================================
Base Text Style
======================================== */
// =========================================
// Size
// =========================================
.text--small {
  font-size: get-rem(14px);
}

.text--medium {
  font-size: get-rem(16px);
}

.text--large {
  font-size: get-rem(20px);
}

.text--extraLarge {
  font-size: get-rem(24px);
}

// =========================================
// Align
// =========================================
.text--left {
  text-align: left;
}

.text--right {
  text-align: right;
}

.text--center {
  text-align: center;
}

// =========================================
// Variation
// =========================================
.text--normal {
  font-weight: normal;
}

.text--error {
  color: var(--color-text-danger);
}

.text--strong {
  font-weight: bold;
}
