/* ========================================
  Background Fixed Utility
======================================== */

.u-bg-fixed {
  width: 100vw;
  height: 100vh;
  position: fixed;
  overflow: hidden;
  left: 0;
  top: calc(var(--scroll-y) * -1);
}
