// @use 'src/styles/foundation/functions/get-rem' as *;
// @use 'src/styles/foundation/mixins/media-query' as *;
// @use 'src/styles/foundation/mixins/hover' as *;
// @use 'src/styles/foundation/mixins/arrow' as *;
// @use 'src/styles/foundation/mixins/clearfix' as *;
// @use 'src/styles/foundation/mixins/leading-trim' as *;
// @use 'src/styles/foundation/mixins/triangle' as *;
// @use 'src/styles/foundation/mixins/underLine' as *;
// @use 'src/styles/foundation/mixins/visibility-hidden' as *;

/* ========================================
Footer Component Style
======================================== */

.footer {
  text-align: center;
  background-color: #333;
  padding: 10px 20px;
  color: var(--color-text-inverted);
}
