@use 'src/styles/foundation/functions/get-rem' as rem;
@use 'src/styles/foundation/mixins/media-query';
@use 'src/styles/foundation/mixins/hover';
// @use 'src/styles/foundation/mixins/arrow';
// @use 'src/styles/foundation/mixins/clearfix';
// @use 'src/styles/foundation/mixins/leading-trim';
// @use 'src/styles/foundation/mixins/triangle';
// @use 'src/styles/foundation/mixins/underLine';
// @use 'src/styles/foundation/mixins/visibility-hidden';

/* ========================================
Footer Component Style
======================================== */

.footer {
  text-align: center;
  background-color: var(--color-text-primary);
  padding: 10px 20px;
}
